<div data-ng-controller="myToDosController as controller">
    <input type="text" placeholder="search by word" data-ng-model="controller.searchBy"/>
    <table>
        <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Completed</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="todo in controller.myTodos | completion:false |  filter:controller.searchBy">
            <td>
                <a data-ng-bind="todo.Title" ui-sref="EditTask({id: todo.Id})"></a>
            </td>
            <td data-ng-bind="todo.Description"></td>
            <td data-ng-bind="todo.DueDate | date:'dd/MM/yyyy'"></td>
            <td data-ng-bind="todo.IsCompleted | booleanFilter"></td>
        </tr>
        </tr>
        </tbody>
    </table>


</div>