<label for="numGetById">GetBy Id</label>
<input type="number" id="numGetById" data-ng-model="controller.taskId">
<button data-ng-click="controller.getTaskById()">Get</button>
<br/>
<form name="newTaskForm" novalidate>
    <fieldset>
        <legend>New task</legend>

        <input type="text" required="" placeholder="Task title" data-ng-model="controller.newTask.Title"/>
        <br/>
        <input type="text" required="" placeholder="Task description" data-ng-model="controller.newTask.Description"/>
        <br/>
        <!--<input id="dueDate" name="dueDate" type="datetime" required="" form-date-validator="" placeholder="Due date" data-ng-model="controller.newTask.DueDate"/>-->
        <!--<span data-ng-show="newTaskForm.dueDate.$invalid && newTaskForm.dueDate.$dirty">-->
        <!--Please insert date in the format of 'dd/MM/yyyy'-->
        <!--</span>-->

        <date-picker data-ng-model="controller.newTask.DueDate"></date-picker>
        <br/>
        <label for="chkCompleted">Completed:</label>

        <input type="checkbox" data-ng-model="controller.newTask.IsCompleted" id="chkCompleted"/>
        <button data-ng-click="controller.addTask()" data-ng-disabled="newTaskForm.$invalid">Add</button>
    </fieldset>
</form>